body{
    background-image: url("902040.png");
}

header{
    font-size: 5em;
    text-align: center;
    color: blue;
}

.cont{
    margin-top: 4em;

    display: flex;



}


.navega{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-style: solid;
    background-color: rgba(0,0,100, 0.5);


}

.navega a{
    font-size: 1.5em;
    color: black;
    font-family: Arial;
    text-decoration: none;
}
#posts{

    background-color: rgba(0,0,50,0.5);
    margin-left: 1em;
    text-align: center;
}
#posts h1{

    font-size: 2em;
    color: white;
    font-weight: bold;
}
#posts p{

    font-size: 1.5em;
    color: white;
}

footer{
    margin-top: 0.2em;
    font-size: 2em;
    background-color: rgba(0,0,100, 0.5);
    text-align: center;
}
